.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}


.instructionText {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 24px;
}

.readyButton {
  margin-top: auto;
  margin-bottom: 0;
  border: none;
  background-color: #CFE741;
  color: #030303;
  width: 40%;
  height: 68px;
  font-size: 24px;
  cursor: pointer;
}

.startButton {
  color: #CFE741;
}

.fingerPositionImg {
  margin-top: 100px;
}